body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, nav, main, footer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

nav a {
    text-decoration: none;
    color: #007bff;
    margin-right: 15px;
}

main {
    text-align: justify;
}

/* Apply styles to all tables */
table {
    width: 100%;
    border-collapse: collapse; /* Collapse border spacing */
    border: 1px solid #ddd; /* Add a border around the table */
}

/* Apply styles to table headers */
th {
    background-color: #f2f2f2; /* Set background color for header cells */
    border: 1px solid #ddd; /* Add a border to header cells */
    padding: 1%; /* Add padding to header cells */
    text-align: left; /* Align text to the center within header cells */
}

/* Apply styles to table cells */
td {
    border: 1px solid #ddd; /* Add a border to cells */
    padding: 1%; /* Add padding to cells */
    text-align: left; /* Align text to the center within header cells */
}

/* Apply alternate row colors to improve readability */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Set background color for even rows */
}

footer {
    text-align: center;
    color: #888;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    header, nav, main, footer {
        margin: 10px;
        padding: 10px;
    }
}